language: python
python:
  - "3.8"  # You can choose the Python version you need
install:
  - pip install -r requirements.txt
  - pip install black
  - pip install flake8
  - pip install coverage
  - pip install coveralls
before_script:
  - python manage.py migrate
script:
  - black --check .
  - flake8 .  --max-line-length=100
  - coverage run --source=swe1-app,polls manage.py test
  - coverage report
after_script:
      - $COVERALLS_REPO_TOKEN coveralls
deploy:
  provider: elasticbeanstalk
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_ACCESS_SECRET
  region: "us-east-1"  # Change to your desired AWS region
  app: "swe1-app"
  env: "pollapp"
  bucket_name: "elasticbeanstalk-us-east-1-663795027423"
  on:
    all_branches: true
